doctype html
html
  head(lang='en')
    meta(charset='utf-8')
    title Pug templating system example
    script(type='text/javascript', src='index.bundle.js')
  body
    .container(style="margin-top:30px")
      .title
        h1 Pug templating system example 2
