doctype html
html
  head(lang='en')
    meta(charset='utf-8')
    title Pug templating system example
  body
    .container(style="margin-top:30px")
      .title
        h1 Pug templating system example
